// ===============
// colors palette
// ===============
:root {
	// Site colors (Кольори сайту):

	// =================================================================
	--header: #30363D;

	--modal-bg: #30363D;
	--background: #1D2228;

	--text-black: #1D2228;
	--text-white: #fff;
	--text-pink: #FF5693;

	--color-warning: #FF5E54;
	--light-gray: rgba(255, 255, 255, 0.50);
	--border-color: rgba(255, 255, 255, 0.10);

	--button: var(--Linear, linear-gradient(270deg, #8743FF 0%, #4136F1 100%));
	--button-hover: #8743FF;

	--gradient-text: var(--Linear, linear-gradient(270deg, #8743FF 0%, #D8C2FF 100%));
	--gradient-text2: var(--Linear, linear-gradient(270deg, #8743FF 0%, #4136F1 100%));
}
